{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 300,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 4,
        "printWidth": 300
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "tabWidth": 2,
        "printWidth": 300
      }
    },
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "tabWidth": 2,
        "printWidth": 300
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    }
  ]
}
